.treatmentMenu {
  order: 0 !important;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0;
  .logo {
    cursor: pointer;
    position: absolute;
  }
  ul {
    position: absolute;
    left: 75px;
  }
}