.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0;
  overflow: auto;
  .logo {
    cursor: pointer;
    position: fixed;
    z-index: 2;
  }
  ul {
    position: absolute;
    left: 75px;
  }
}