.appointmentCard {
  display: flex;
  .ant-card-body {
    align-items: flex-end;
    justify-content: center;
    display: flex;
  }

  .card {
    background: url('/appointment-girl.jpeg');
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: flex-start;
    @media screen and (max-width: 769px) {
      height: auto;
      align-items: flex-start;
    }
  }
  .title {
    a {
      font-size: 28px;
      text-transform: uppercase;
      background: #d5b8ff;
      color: black;
      opacity: 0.8;
      padding: 10px;
      font-weight: bold;
      @media screen and (max-width: 769px) {
        font-size: 14px;
      }
    }
  }
  .quote {
    text-transform: capitalize;
    font-family: cursive;
    font-size: 21px;
    color: #363636;
    font-weight: bold;
    @media screen and (max-width: 769px) {
      font-size: 12px;
    }
  }
}


