.bookAppointment {
  display: flex;
  flex-flow: column;
  .photo {
    flex-basis: 200px;
    background: url("/appointment.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0% 75%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .title {
      color: black;
      font-size: 48px;
      text-align: center;
      background: #d5b8ff;
      opacity: 0.8;
      padding: 0px 5px;
    }
  }
  .title {
    color: black;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
    border-bottom: 4px solid black;
    flex-basis: 100%;
    align-self: center;
    text-transform: uppercase;
  }
  .content {
    display: flex;
    padding: 10px;
    flex-basis: auto;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    .wrapper {
      flex: 2;
      padding-right: 10px;
      .phone,
      .email {
        color: black;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 3px;
        border-bottom: 2px solid #d5b8ff;
        margin-bottom: 25px;
      }
      .address {
        font-size: 16px;
        font-weight: bold;
        span {
          font-weight: normal;
        }
      }
    }
    .communication {
      flex: 3;
    }
  }
}
