$lavender: #d5b8ff;
$border-bottom: 2px solid $lavender;
$background-bg: #182C61;

.bookAppointment {
  display: flex;
  flex-flow: column;
  color: white;
  background: $background-bg;
  .photo {
    flex-basis: 200px;
    background: url("/appointment.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0% 75%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 769px) {
      flex-basis: 80px;
      background-size: cover;
    }
    .title {
      font-size: 32px;
      text-align: center;
      background: $background-bg;
      opacity: 0.8;
      padding: 0px 5px;
      @media screen and (max-width: 769px) {
        font-size: 22px;
      }
    }
  }
  .title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
    border-bottom: $border-bottom;
    flex-basis: 100%;
    align-self: center;
    text-transform: uppercase;
    padding-top: 10px;
    @media screen and (max-width: 769px) {
      font-size: 18px;
    }
  }
  .content {
    display: flex;
    padding: 10px;
    flex-basis: auto;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    @media screen and (max-width: 769px) {
      flex-flow: column;
    }
    .wrapper {
      flex: 2;
      padding-right: 10px;
      .contact {
        font-size: 24px;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-bottom: 2px;
        border-bottom: $border-bottom;
        @media screen and (max-width: 769px) {
          font-size: 18px;
        }
      }
      .phone,
      .email,
      .address {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 3px;
        border-bottom: $border-bottom;
        margin-bottom: 25px;
        @media screen and (max-width: 769px) {
          font-size: 16px;
        }
      }
      .address {
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
        @media screen and (max-width: 769px) {
          font-size: 16px;
        }
        > span {
          font-weight: normal;
        }
        > div {
          span {
            padding-left: 2px;
            font-weight: bold;
          }
        }
      }
    }
    .communication {
      flex: 2;
      @media screen and (max-width: 769px) {
        width: 100%;
        iframe {
          height: 200px;
        }
      }
    }
  }
}
