$hot-pink: #E31C79;
$mauve: #d5b8ff;
$black: #000000;
$white-smoke: #f5f5f5;
$fb-color: #4267B2;
$ig-color: #E1306C;
$wp-color: #128c7e;
$cell-color: #2589FF;
$navy-color: #000080;
$pin-color: #800000;