@import 'colors.scss';


.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: #d5b8ff;
}

.ant-menu-item-active {
  &:hover {
    background: #d5b8ff !important;
  }
}

.ant-layout-header {
  background: $black;
  .ant-menu-dark {
    background: $black;
    .ant-menu-item {
      span {
        a {
          color: $hot-pink;
        }
      }
    }
  }
}

.ant-menu-submenu  {
  .ant-menu-vertical {
    background: $black;
    .ant-menu-item {
      span {
        a {
          color: $hot-pink;
        }
      }
    }
  }
}

.anticon-ellipsis {
  svg {
    color: $hot-pink;
  }
}