@import "colors.scss";

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: $mauve;
}

.ant-menu-item-active {
  &:hover {
    background: $mauve !important;
  }
}

.ant-layout-header {
  background: $black;
  .ant-menu-dark {
    background: $black;
    .ant-menu-item {
      span {
        a {
          color: $hot-pink;
        }
      }
    }
  }
}

.ant-menu-submenu {
  .ant-menu-vertical {
    background: $black;
    .ant-menu-item {
      span {
        a {
          color: $hot-pink;
        }
      }
    }
  }
}

.anticon-ellipsis {
  svg {
    color: $hot-pink;
  }
}

.ant-layout-footer {
  padding: 10px;
}

.procedure-modal {
  .ant-modal-header {
    background: $hot-pink;
    .ant-modal-title {
      color: $white-smoke;
    }
  }
  .ant-modal-close {
    color: $white-smoke;
  }
}
